iframe, div.tab-content, #top, body {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#top, #top .nav, #top .nav li, #top .nav li a {
  width: 100%;
}

.nav a {
  font-size: smaller;
}

input.form-control {
  width: 300px;
}

.btn-group, .btn-group > .btn {
  float: none !important;
  vertical-align: middle !important;
  display: inline !important;
}

  .btn-group > .btn:first-child {
    margin-top: 5px;
  }

.ng-hide {
  display: none !important;
}