body {
  width: 100% !important;
}

.candlestick {
  padding-bottom: 10px;
  padding-right: 5px;
}

.col-xs-2, .col-xs-10 {
  display: inline-block !important;
  float: none !important;
}

.col-xs-10 {
  vertical-align: middle !important;
}

.horizontal-slide-container {
  position: relative;
}

.horizontal-slide-animation.ng-enter, .my-slide-animation.ng-leave {
  -webkit-transition: 0.15s linear all;
  transition: 0.15s linear all;
  position: absolute;
  top: 352px;
  left: 0;
  right: 0;
  width: 1500px;
}

.horizontal-slide-animation.ng-enter {
  z-index: 100;
  left: 600px;
  opacity: 0;
}

  .horizontal-slide-animation.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
  }

.horizontal-slide-animation.ng-leave {
  z-index: 101;
  left: 0;
  opacity: 1;
}

  .horizontal-slide-animation.ng-leave.ng-leave-active {
    left: -600px;
    opacity: 0;
  }

.vertical-slide-container {
  position: relative;
}

.vertical-slide-animation.ng-enter, .my-slide-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  height: 600px;
}

.vertical-slide-animation.ng-enter {
  z-index: 100;
  top: 600px;
  opacity: 0;
}

  .vertical-slide-animation.ng-enter.ng-enter-active {
    top: 40px;
    opacity: 1;
  }

.vertical-slide-animation.ng-leave {
  z-index: 101;
  top: 40px;
  opacity: 1;
}

  .vertical-slide-animation.ng-leave.ng-leave-active {
    top: -600px;
    opacity: 0;
  }

  /*.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}*/