<style>
    .label {
        vertical-align: middle !important;
    }

    .label-warning, .label-success, .label-danger, .label-info, .label-default {
        font-size: medium !important;
    }

    /*.label-info {
            font-size:small !important;
        }*/
</style>
<toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
<div class="container-fixed">
  <div class="row" ng-cloak="">
    <div id="results" class="col-lg-12" style="z-index:1 !important;">
      <br />
      <div class="well">
        <div class="row">
          <div class="col-xs-6">
              <select class="form-control" ng-model="vm.selectedSource" ng-change="vm.handleDataSourceChange()"
                      title='Choose one of the following...'>
                  <option sly-repeat="item in vm.sources">{{item}}</option>
              </select>
          </div>
          <div class="col-xs-6">
            <label class="btn btn-info" ng-model="vm.isDetailed" btn-checkbox>Is Detailed View</label>
          </div>
        </div>
        <div class="row">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">Avg PE {{ vm.rawResults | weightedAverage:'PERatio':'MarketCapitalization':'list' | number:2  }}</li>
            <li role="presentation">&nbsp;|Avg PEG {{ vm.rawResults | weightedAverage:'PEGRatio':'MarketCapitalization':'list' | number:2  }}</li>
            <li role="presentation" class="active">&nbsp;|Avg PB {{ vm.rawResults | weightedAverage:'PriceBook':'MarketCapitalization':'list' | number:2  }}</li>
            <li role="presentation">&nbsp;|Avg PS {{ vm.rawResults | weightedAverage:'PriceSales':'MarketCapitalization':'list' | number:2  }}</li>
            <li role="presentation" class="active">&nbsp;|Avg Div {{ vm.rawResults | weightedAverage:'DividendYield':'MarketCapitalization':'list' | number:2  }}</li>
            <li role="presentation">&nbsp;|Avg MA50 {{ vm.rawResults | weightedAverage:'PercentChangeFromFiftydayMovingAverage':'MarketCapitalization':'list' | number:2  }}</li>
            <li role="presentation">&nbsp;|Avg MA200 {{ vm.rawResults | weightedAverage:'PercentChangeFromTwoHundreddayMovingAverage':'MarketCapitalization':'list' | number:2  }}</li>
          </ul>
        </div>
      </div>
      <div>
        <ul class="list-inline">
          <li sly-repeat="row in vm.data"><button ng-class="{'btn-success': vm.currentsector === row.sector, 'btn-primary':vm.currentsector !== row.sector}" class="btn" ng-click="vm.changeSector(row.sector)">{{row.sector}}</button></li>
        </ul>
      </div>
          <div class="row col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation">Avg PE {{ vm.rawResults | filter:{sector:vm.currentsector}  | weightedAverage:'PERatio':'MarketCapitalization' | number:2  }}</li>
              <li role="presentation">&nbsp;|Avg PEG {{ vm.rawResults | filter:{sector:vm.currentsector}  | weightedAverage:'PEGRatio':'MarketCapitalization' | number:2  }}</li>
              <li role="presentation">&nbsp;|Avg PB {{ vm.rawResults | filter:{sector:vm.currentsector}  | weightedAverage:'PriceBook':'MarketCapitalization' | number:2  }}</li>
              <li role="presentation">&nbsp;|Avg PS {{ vm.rawResults | filter:{sector:vm.currentsector}  | weightedAverage:'PriceSales':'MarketCapitalization' | number:2  }}</li>
              <li role="presentation">&nbsp;|Avg Div {{ vm.rawResults | filter:{sector:vm.currentsector}  | weightedAverage:'DividendYield':'MarketCapitalization' | number:2  }}</li>
              <li role="presentation">&nbsp;|Avg MA50 {{ vm.rawResults | filter:{sector:vm.currentsector} | weightedAverage:'PercentChangeFromFiftydayMovingAverage':'MarketCapitalization' | number:2  }}</li>
              <li role="presentation">&nbsp;|Avg MA200 {{ vm.rawResults | filter:{sector:vm.currentsector}  | weightedAverage:'PercentChangeFromTwoHundreddayMovingAverage':'MarketCapitalization' | number:2  }}</li>
            </ul>
          </div>
          <div class="row col-xs-12">
          <div class="table-responsive">
            <table class="table table-striped table-condensed table-border header-fixed table-hover">
              <thead>
                <tr>
                  <th ng-click="vm.sortColumn='-MarketCapitalization'">Symbol</th>
                  <th ng-click="vm.sortColumn='-relativeVolume'">Vol%</th>
                  <th ng-click="vm.sortColumn='-dailyPercentChange'">Change</th>
                  <th ng-click="vm.sortColumn='-regressionPotential'">Regress Pot.</th>
                  <th ng-click="vm.sortColumn='-LastTradePriceOnly'">Price</th>
                  <th ng-click="vm.sortColumn='-PreviousClose'">Close</th>
                  <th ng-click="vm.sortColumn='-ShortRatio'" ng-if="vm.isDetailed">Short</th>
                  <th ng-click="vm.sortColumn='-fundamental'" ng-if="vm.isDetailed">Combined</th>
                  <th ng-click="vm.sortColumn='-mungerBuffettRatio'">Buffett</th>
                  <th ng-click="vm.sortColumn='-EPSEstimateCurrentYear'" ng-if="vm.isDetailed">EPS</th>
                  <th ng-click="vm.sortColumn='-epsGrowth'" ng-if="vm.isDetailed">EPS^</th>

                  <!-- Equity -->
                  <th ng-click="vm.sortColumn='PriceBook'" ng-if="vm.isDetailed">PB</th>
                  <th ng-click="vm.sortColumn='PriceSales'" ng-if="vm.isDetailed">PS</th>
                  <!-- Earnings -->
                  <th ng-click="vm.sortColumn='PERatio'" ng-if="vm.isDetailed">PE</th>
                  <th ng-click="vm.sortColumn='PEGRatio'" ng-if="vm.isDetailed">PEG</th>
                  <th ng-click="vm.sortColumn='-DividendYield'" ng-if="vm.isDetailed">Dividend</th>
                  <th>Name</th>
                  <th>Trend Information</th>
                </tr>
              </thead>
              <tbody>
                <tr 
                  ng-repeat="result in vm.rawResults | filter:{sector:vm.currentsector}  | orderBy: vm.sortColumn" 
                  popover-placement="top" 
                  popover-trigger="hover click" 
                  popover="<img height='300' width='600' src='http://finviz.com/chart.ashx?t={{result.symbol}}&ty=c&ta=1&p=d&s=l' style='vertical-align: middle !important;' />" >
                  <td>
                    <span class="label label-info">
                      <a ng-click='vm.openFinviz(result.symbol)'>{{ result.symbol}}&nbsp;{{ result.MarketCapitalization > 1000 ? (result.MarketCapitalization/1000).toString() + "B" : result.MarketCapitalization.toString() + "M"  }}</a>
                    </span>
                  </td>
                  <td>
                    <span ng-class="{
                      'label-danger' : result.relativeVolume < 50,
                      'label-warning' : result.relativeVolume >= 50 && result.relativeVolume < 100,
                      'label-success' : result.relativeVolume > 100
                      }" 
                      class="label">{{ result.relativeVolume | number:0 }}%</span>
                  </td>
                  <td>
                    <span ng-class="{ 
                      'label-danger' : result.dailyPercentChange < 0,
                      'label-warning' : result.dailyPercentChange >= 0 && result.dailyPercentChange <= (3.5),
                      'label-success' : result.dailyPercentChange > (3.5) }"
                      class="label">{{ result.dailyPercentChange | number:1 }}%</span>
                  </td>
                  <td>
                    <span ng-class="{ 
                      'label-danger' : result.regressionPotential < 7,
                      'label-warning' : result.regressionPotential >= 7 && result.regressionPotential <= 20,
                      'label-success' : result.regressionPotential > 20 }"
                          class="label">
                      {{ result.regressionPotential | number:1  }} %
                    </span>
                  </td>
                  <td><a ng-click='vm.openGuru(result.symbol)'>{{ result.LastTradePriceOnly | currency}}</a></td>
                  <td>{{ result.PreviousClose  | currency}}</td>
                  <td ng-if="vm.isDetailed">{{ result.ShortRatio }}</td>
                  <td ng-if="vm.isDetailed">
                    <span class="label label-info">
                      {{ result.fundamental| number:2 }}
                    </span>
                  </td>
                  <td>
                    <a ng-click='vm.openGuru(result.symbol)'>
                      <span ng-class="{
                        'label-danger' :  result.mungerBuffettRatio < 100,
                        'label-warning' :result.mungerBuffettRatio >= 100 && result.mungerBuffettRatio <= 120,
                        'label-success' : result.mungerBuffettRatio > 120 }"
                        class="label">
                        {{ result.mungerBuffettRatio | number:2 }}%
                      </span>
                    </a>
                  </td>
                  <td ng-if="vm.isDetailed">{{ result.EPSEstimateCurrentYear | number:2}}</td>
                  <td ng-if="vm.isDetailed">
                    <span ng-class="{ 
                      'label-danger' :  result.epsGrowth < 0,
                      'label-warning' : result.epsGrowth >= 0 && result.epsGrowth <= 0.05,
                      'label-success' : result.epsGrowth > 0.5 }"
                      class="label">
                      {{ result.epsGrowth | number:2}}%
                    </span>
                  </td>
                  <td ng-if="vm.isDetailed">
                    <span 
                      class="label"
                      ng-class="
                      {
                        'label-danger': result.PriceBook >= 4,
                        'label-warning': result.PriceBook >= 2 && result.PriceBook < 4,
                        'label-success': result.PriceBook <2
                      }">{{ result.PriceBook }}</span>
                  </td>
                  <td ng-if="vm.isDetailed">
                    <span 
                      class="label"
                      ng-class="
                      {
                        'label-info' : result.PriceSales == 0,
                        'label-danger': result.PriceSales >= 4,
                        'label-warning': result.PriceSales >= 2 && result.PriceSales < 4,
                        'label-success': result.PriceSales <2 && result.PriceSales != 0
                      }">{{ result.PriceSales }}</span>
                  </td>

                  <!-- Earnings -->
                  <td ng-if="vm.isDetailed">
                    <span 
                      class="label"
                      ng-class="
                      {
                        'label-danger': result.PERatio > 19,
                        'label-warning': result.PERatio > 12 && result.PEGRatio <= 19,
                        'label-success': result.PERatio <=12
                      }">{{ result.PERatio }}</span>
                  </td>
                  <td ng-if="vm.isDetailed">
                    <span 
                      class="label"
                      ng-class="
                      {
                        'label-danger': result.PEGRatio > 1.75,
                        'label-warning': result.PEGRatio > 1 && result.PEGRatio <= 1.75,
                        'label-success': result.PEGRatio <=1 && result.PEGRatio != 0,
                        'label-info' : result.PEGRatio == 0
                      }">{{ result.PEGRatio }}</span>
                  </td>

                  <td ng-if="vm.isDetailed">
                    <span 
                      class="label" 
                      ng-class="{
                        'label-info': result.DividendYield == 0,
                        'label-danger': result.DividendYield > 0 && (result.DividendYield <=1.5 || result.DividendYield > 7),
                        'label-warning': result.DividendYield > 1.5 && result.DividendYield < 4,
                        'label-success': result.DividendYield >= 4 && result.DividendYield <= 7}">
                        {{ result.DividendYield | number:2 }}</span>&nbsp;&nbsp;{{ vm.adjustDividendDate(result.ExDividendDate) 
                      }}
                  </td>
                  <td>{{ result.Name | limitTo: 25 }}</td>
                  <td>
                    <a ng-click='vm.openYahoo(result.symbol)'>
                      <span class="label" ng-class="vm.evaluateSeriesData(result).cssClass">
                        {{ vm.MovingAvgMeaning(result)}}
                      </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
    </div>
  </div>
</div>