<div mdl>
  <md-progress-bar *ngIf="isProcessing" mode="indeterminate" class="demo-progress-bar-margins" style="padding:0 !important; margin:0 !important;"></md-progress-bar>
  <md-toolbar>
    <span id="menu_icon" class="focusable">
      <i 
      class="material-icons demo-toolbar-icon" 
      style="text-shadow: 1px 1px 1px #555,1px 1px 1.7px #888;" 
      (click)="start.toggle()">menu</i>
    </span>
    <span style="text-shadow: 0px 0px 0px #222, 1px 1px 1.7px #444;" class="unselectable">&nbsp;&nbsp;Application Needs a Name&nbsp;</span> 
    <span class="demo-fill-remaining"></span>
    <span id="alerts" class="alertable material-icons mdl-badge mdl-badge--overlap" data-badge="12" (click)="end.toggle()">add_alert</span>
    <div>
      <img *ngIf="loggedIn()" src="{{profile.picture}}" style="width: 50px; margin-left:1em;" class="img-circle" id="demo-menu-lower-right" />
      <a href="#" *ngIf="!loggedIn()" (click)="login()">Login</a>
    </div>  
  </md-toolbar>
  <md-sidenav-layout class="demo-sidenav-layout">
    <md-sidenav #start (open)="myinput.focus()" mode="top">
      <a [routerLink]="['/']">Todo</a> 
      <br>
      <a [routerLink]="['/about', 'Hello world']">About</a>
      <br>
      <button md-button (click)="start.close()">Close</button>
      <br>
      <button md-button (click)="end.open()">Open End Side</button>
      <br>
      <button md-button
              (click)="start.mode = (start.mode == 'push' ? 'over' : (start.mode == 'over' ? 'side' : 'push'))">
            
              Toggle Mode</button>
      <div>Mode: {{start.mode}}</div>
      <br>
      <input #myinput>
    </md-sidenav>

    <md-sidenav #end align="end">
      End Side Drawer
      <br>
      <button md-button (click)="end.close()">Close</button>
    </md-sidenav>
    <br>
    <div class="demo-sidenav-content">
      <div class="container" style="padding-right:1em; padding-left:1em;" >
        <md-card>

          <button md-button class="md-primary" (click)="toggleProcessing()">toggle progress...</button>

          <router-outlet></router-outlet>
        </md-card>
      </div>
    </div>
  </md-sidenav-layout>
</div>



<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
  <li disabled class="mdl-menu__item">Configure Alerts</li>
  <li class="mdl-menu__item"><a *ngIf="loggedIn()" [routerLink]="['/profile']">Edit Profile</a></li>
  <li *ngIf="loggedIn()" class="mdl-menu__item"> <a href="#"  (click)="logout()">Logout</a></li>
</ul>

<div class="mdl-tooltip" for="demo-menu-lower-right">
  <strong>User Options</strong>
</div>

<div class="mdl-tooltip" for="alerts">
  <strong>Alerts</strong>
</div>

<div class="mdl-tooltip" for="menu_icon">
  <strong>Open Menu</strong>
</div>