md-toolbar {
  box-shadow: 3px 3px 1.5px #888888 !important; 
}

.unselectable{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.focusable {
 border: 0 !important;
 margin: 0 !important;
 padding: 0 !important;
 text-align: center;
 vertical-align: middle;
 background-color: transparent !important;
}

.focusable:hover {
      box-shadow: 3px 3px 1.5px #888888 !important; 
      cursor: pointer; cursor: hand;
}

.alertable{
   box-shadow: 1px 1px 1px #888888;
}

.alertable:hover{
   box-shadow: 10px 10px 5px #888888;
   cursor: pointer; cursor: hand;
}

.img-circle {
    border-radius: 50%;
    box-shadow: 2px 2px 1px #888888;
}

.img-circle:hover {
   box-shadow: 10px 10px 5px #888888;
   border-radius: 60%;
   width: 55px !important;
   cursor: pointer; cursor: hand;
}

.demo-toolbar {
  padding: 6px;
}

.demo-toolbar-icon {
  padding: 6px;
  padding: 0 14px 0 14px;
}

.demo-fill-remaining {
  padding: 6px;
  flex: 1 1 auto;
}